##########################################################################################
# BLOBIFIER HARDWARE CONFIGURATION
# Choose ONE of the two tray actuator options below:
#   1. Servo-based (default) - uncomment the [mmu_servo blobifier] section
#   2. Stepper-based         - uncomment the [manual_stepper stepper_blobifier] section
#
# IMPORTANT: Also set variable_blobifier_type in the [gcode_macro BLOBIFIER] section
# to match your hardware: "servo" or "stepper"
##########################################################################################


##########################################################################################
# OPTION 1: Servo-based tray actuator (DEFAULT)
# The servo hardware configuration. Change the values to your needs.
#
#[mmu_servo blobifier]
# Pin for the servo.
#pin: PE9

# SAVOX
#minimum_pulse_width: 0.00075 
#maximum_pulse_width: 0.002255
#maximum_servo_angle: 180

# MG90S
# Adjust this value until a 'BLOBIFIER_SERVO POS=out' extends the tray fully without a 
# buzzing sound
#minimum_pulse_width: 0.00053
# Adjust this value until a 'BLOBIFIER_SERVO POS=in' retracts the tray fully without a 
# buzzing sound
#maximum_pulse_width: 0.0023
# Leave this value at 180
#maximum_servo_angle: 180

#  FT90M 
#minimum_pulse_width: 0.001179
#maximum_pulse_width: 0.001821
#maximum_servo_angle: 180


##########################################################################################
# OPTION 2: Stepper-based tray actuator
# Uncomment the sections below and comment out the servo section above to use a stepper
# motor driven blobifier tray instead of a servo.
#
[manual_stepper stepper_blobifier]
step_pin: PA10
dir_pin: !PA9
enable_pin: !PA15
endstop_pin: ^!PB14  #maxez probe
microsteps: 4
gear_ratio: 1:1
rotation_distance: 62.83
#position_min: 0
#position_max: 21
homing_speed: 15
velocity: 200
accel: 1000
#
[tmc2209 manual_stepper stepper_blobifier]
uart_pin: PD6
sense_resistor: 0.110
run_current: 0.6
hold_current: 0.2
interpolate: true
stealthchop_threshold: 99999999


##########################################################################################
# The bucket hardware configuration. Change the pin to whatever pin you've connected the
# switch to.
#
[gcode_button bucket]
pin: ^PB15 # The pullup ( ^ ) is important here.
press_gcode:
  M117 bucket installed
release_gcode:
  M117 bucket removed
  _BLOBIFIER_COUNT_RESET


