[include shell_command.cfg]

## Uncomment for input shaping via USB
#[include metis_config/crampon.cfg]

## Include other config files
[include metis_config/bed.cfg]
[include metis_config/extruder.cfg]
[include metis_config/fans.cfg]
[include metis_config/gantry.cfg]
[include metis_config/probe.cfg]
[include metis_config/sensors.cfg]
[include metis_config/stepper.cfg]
[include metis_config/stealthburner.cfg]
[include macros/*.cfg]

#####################################################################
#  Controllers
#####################################################################
[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu shitty]
canbus_uuid:bb9003a98b21

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 10000
max_accel_to_decel: 5000
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 8.0

[input_shaper]
shaper_freq_x: 65
shaper_freq_y: 45
shaper_type: mzv

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[save_variables]
filename: ~/klipper_config/saved_variables.cfg

[exclude_object]


[gcode_macro _USE_INFILL_SQV]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set sqv = svv.infill_sqv | default(printer.configfile.settings.printer.square_corner_velocity, true) %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={ sqv }

[gcode_macro _USE_NORMAL_SQV]
gcode:
    {% set sqv = printer.configfile.settings.printer.square_corner_velocity %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={ sqv }

[gcode_macro SET_INFILL_SQV]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set val = params.SQV|default(svv.infill_sqv|default(printer.configfile.settings.printer.square_corner_velocity, true), true) | int %}
    SAVE_VARIABLE VARIABLE=infill_sqv VALUE={val}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.779
#*# pid_ki = 1.419
#*# pid_kd = 490.844
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.476
#*# pid_ki = 1.768
#*# pid_kd = 65.233
