[include shell_command.cfg]

## Include other config files
[include metis_config/bed.cfg]
[include metis_config/extruder.cfg]
[include metis_config/fans.cfg]
[include metis_config/gantry.cfg]
[include metis_config/leds.cfg]
[include metis_config/probe.cfg]
[include metis_config/sensors.cfg]
[include metis_config/stepper.cfg]
[include metis_config/klicky-variables.cfg]
[include metis_config/z_calibration.cfg]
[include metis_config/stealthburner.cfg]
[include macros/*.cfg]

#####################################################################
#  Controllers
#####################################################################
[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu shitty]
canbus_uuid:bb9003a98b21

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 10000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20  # an example

[input_shaper]
shaper_freq_x: 59
shaper_type_x: zv
shaper_freq_y: 39.8
shaper_type_y: mzv

[probe]
pin: ^shitty:PC15
x_offset: 0
y_offset: 17.5
z_offset: 13.42
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.0075
samples_tolerance_retries: 3

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[save_variables]
filename: ~/klipper_config/saved_variables.cfg


[gcode_macro _USE_INFILL_SQV]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set sqv = svv.infill_sqv | default(printer.configfile.settings.printer.square_corner_velocity, true) %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={ sqv }

[gcode_macro _USE_NORMAL_SQV]
gcode:
    {% set sqv = printer.configfile.settings.printer.square_corner_velocity %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={ sqv }

[gcode_macro SET_INFILL_SQV]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set val = params.SQV|default(svv.infill_sqv|default(printer.configfile.settings.printer.square_corner_velocity, true), true) | int %}
    SAVE_VARIABLE VARIABLE=infill_sqv VALUE={val}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 1.994
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.779
#*# pid_ki = 1.419
#*# pid_kd = 490.844
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.787
#*# pid_ki = 2.466
#*# pid_kd = 62.278
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.013750, -0.022500, -0.001250, -0.002500, -0.023750
#*# 	0.000000, -0.023750, -0.022500, -0.022500, -0.048750
#*# 	0.011250, -0.006250, 0.000000, 0.008750, -0.015000
#*# 	0.005000, -0.012500, -0.001250, -0.015000, -0.005000
#*# 	-0.007500, -0.013750, -0.015000, -0.001250, -0.012500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 270.0
#*# mesh_x_pps = 2
#*# max_x = 270.0
