[mmu_machine]
num_gates: 4
mmu_vendor: EMU			
mmu_version: 1.0			

selector_type: VirtualSelector
variable_bowden_lengths: 1		
variable_rotation_distances: 1		
require_bowden_move: 1		
filament_always_gripped: 1	
has_bypass: 1 

# Add your temperature and humidity sensors here for them to be visible in mainsail. One line per lane.
# Supported in HH vesion 3.42 and above.
environment_sensors:   
                        temperature_sensor Lane_0, 
					    temperature_sensor Lane_1,
                        temperature_sensor Lane_2,
                        temperature_sensor Lane_3

#temperature_sensor Lane_0
# FILAMENT DRIVE GEAR STEPPER  -----------------------------------------------------------------------------------------
[tmc2209 stepper_mmu_gear]
uart_pin: mmu0:MMU_GEAR_UART
run_current: 0.8		
hold_current: 0.2	
interpolate: False
sense_resistor: 0.110	
stealthchop_threshold: 1		

[stepper_mmu_gear]
step_pin: mmu0:MMU_GEAR_STEP
dir_pin: mmu0:MMU_GEAR_DIR
enable_pin: !mmu0:MMU_GEAR_ENABLE
rotation_distance: 22.7574		
gear_ratio: 1:1			
microsteps: 32				
full_steps_per_rotation: 200		

# Filament Drive Gear_1 --------------------------
[tmc2209 stepper_mmu_gear_1]
uart_pin: mmu1:MMU_GEAR_UART

[stepper_mmu_gear_1]
step_pin: mmu1:MMU_GEAR_STEP
dir_pin: mmu1:MMU_GEAR_DIR
enable_pin: !mmu1:MMU_GEAR_ENABLE

# Filament Drive Gear_2 --------------------------
[tmc2209 stepper_mmu_gear_2]
uart_pin: mmu2:MMU_GEAR_UART

[stepper_mmu_gear_2]
step_pin: mmu2:MMU_GEAR_STEP
dir_pin: mmu2:MMU_GEAR_DIR
enable_pin: !mmu2:MMU_GEAR_ENABLE

# Filament Drive Gear_3 --------------------------
[tmc2209 stepper_mmu_gear_3]
uart_pin: mmu3:MMU_GEAR_UART

[stepper_mmu_gear_3]
step_pin: mmu3:MMU_GEAR_STEP
dir_pin: mmu3:MMU_GEAR_DIR
enable_pin: !mmu3:MMU_GEAR_ENABLE

[mmu_sensors]
pre_gate_switch_pin_0: ^mmu0:MMU_PRE_GATE
pre_gate_switch_pin_1: ^mmu1:MMU_PRE_GATE
pre_gate_switch_pin_2: ^mmu2:MMU_PRE_GATE
pre_gate_switch_pin_3: ^mmu3:MMU_PRE_GATE

post_gear_switch_pin_0: ^mmu0:MMU_POST_GEAR
post_gear_switch_pin_1: ^mmu1:MMU_POST_GEAR
post_gear_switch_pin_2: ^mmu2:MMU_POST_GEAR
post_gear_switch_pin_3: ^mmu3:MMU_POST_GEAR

#extruder_switch_pin: ^EBBCan: PB6
toolhead_switch_pin: ^shitty:PA1


# Section below if using the Proportional (PSF) version of the EMU Sync. Run the calibration routine (MMU_CALIBRATE_PSENSOR) and
# update the sync_feedback_analog_max_compression, sync_feedback_analog_max_tension and sync_feedback_analog_neutral_point accordingly.
# Comment out/delete the dual switch section above and uncomment the section below to use.
sync_feedback_analog_pin: mmu0:MMU_TH
sync_feedback_analog_max_compression: 0.9435
sync_feedback_analog_max_tension:     0.0982
sync_feedback_analog_neutral_point:   0.5275

# MMU NEOPIXEL LED SUPPORT ------------------------------------------------------------------------------------

[neopixel mmu0_leds] # one block per lane (Lane 0)
pin: mmu0:MMU_NEOPIXEL
chain_count: 2			# one for the box and one for the eject button
color_order: GRBW		

[neopixel mmu1_leds] # one block per lane (Lane 1)
pin: mmu1:MMU_NEOPIXEL
chain_count: 2			
color_order: GRBW		

[neopixel mmu2_leds] # one block per lane (Lane 2)
pin: mmu2:MMU_NEOPIXEL
chain_count: 2		
color_order: GRBW	

[neopixel mmu3_leds] # one block per lane (Lane 3)
pin: mmu3:MMU_NEOPIXEL
chain_count: 2			
color_order: GRBW

# MMU LED EFFECT SEGMENTS ----------------------------------------------------------------------------------------------
[mmu_leds unit0]
exit_leds:
  neopixel:mmu0_leds (1) # add/remove to match number of lanes
  neopixel:mmu1_leds (1)
  neopixel:mmu2_leds (1)
  neopixel:mmu3_leds (1)
entry_leds:
  neopixel:mmu0_leds (2) # add/remove to match number of lanes
  neopixel:mmu1_leds (2)
  neopixel:mmu2_leds (2)
  neopixel:mmu3_leds (2)
frame_rate: 24

enabled: True                           # LEDs are enabled at startup
animation: True                         # Use led-animation-effects
exit_effect: gate_status                # gate_status in the eject buttons
entry_effect: filament_color            # filament_color in the dry box LED
status_effect: off                      # no status LED is on the unit
logo_effect: (0, 0, 0)                  # no Logo LED is on the unit
white_light: (1, 1, 1)                  # RGB color for static white light
black_light: (1, 1, 1)                  # RGB color used to represent "black" filament
empty_light: (0.0, 0.0, 0.0)            # Empty gate has eject button "off"

effect_loading:            mmu_clockwise_fast, (0, 0, 0.4)
effect_loading_extruder:   mmu_clockwise_slow, (0, 0, 1)
effect_unloading:          mmu_anticlock_fast, (0, 0, 0.4)
effect_unloading_extruder: mmu_anticlock_slow, (0, 0, 1)
effect_heating:            mmu_breathing_red,       (0.3, 0, 0)
effect_selecting:          mmu_white_fast,          (0.2, 0.2, 0.2)
effect_checking:           mmu_white_fast,          (0.8, 0.8, 0.8)
effect_initialized:        mmu_rainbow,             (0.5, 0.2, 0)
effect_error:              mmu_strobe,              (1, 0, 0)
effect_complete:           mmu_sparkle,             (0.3, 0.3, 0.3)
effect_gate_selected:      mmu_static_blue,         (0, 0, 1)
effect_gate_available:     mmu_static_white_dim,    (0.3, 0.3, 0.3)
effect_gate_available_sel: mmu_ready_white,         (0.75, 0.75, 0.75)
effect_gate_unknown:       mmu_static_orange,       (0.5, 0.2, 0)
effect_gate_unknown_sel:   mmu_ready_orange ,       (0.75, 0.3, 0)
effect_gate_empty:         mmu_static_black,        (0, 0, 0)
effect_gate_empty_sel:     mmu_ready_red,           (0.2, 0, 0)
