#####################################################################
#  Lighting Config
#####################################################################
[neopixel chamber_leds]
pin: PE10
chain_count: 60

#####################################################################
#  Effects 
#####################################################################
[led_effect busy]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
    breathing  3 1 top (1,0,0)

[led_effect cleaning]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect calibrating_z]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect heating]
leds:
    neopixel:chamber_leds
autostart:                          false
frame_rate:                         15
layers:
    comet  0.3  0 add (1, 0.18, 0)

[led_effect cooling]
leds:
    neopixel:chamber_leds
autostart:                          false
frame_rate:                         15
layers:
    comet  0.3  0 add (0, 0, 1)

[led_effect homing]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect leveling]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect meshing]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect printing]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
    static         0  0     top  (0.9,  0.9, 0.9)

[led_effect allwhite]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
    static         0  0     top  (0.8,  0.8, 0.8)

[led_effect part_ready]
autostart:              false
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.0, 1.0, 0.0)

[led_effect lightning]
autostart:              true
frame_rate:             15
leds:
    neopixel:chamber_leds
layers:
    twinkle  3 0.05 screen (0.8, 1.0, 1.0),(1.0, 0.8, 1.0),(0.0, 1.0, 1.0),(0.3, 0.3, 0.9)
    comet  1 1.5 overlay (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 1.0, 1.0)



#####################
## all led effects ##
#####################

[led_effect critical_error]
leds:
    neopixel:chamber_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            15
run_on_error:                          true


[led_effect rainbow]
leds:
    neopixel:chamber_leds
autostart:                          false
frame_rate:                         15
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# gcode

[gcode_macro leds_idle]
gcode:
    SET_LED_EFFECT EFFECT=lightning REPLACE=1 

[gcode_macro leds_off]
gcode:
    STOP_LED_EFFECTS FADETIME=0.5 
    SET_LED LED=chamber_leds GREEN=0 RED=0 BLUE=0 

[gcode_macro leds_printing]
gcode:
    SET_LED_EFFECT EFFECT=printing REPLACE=1 