
##Moons 36mm Pancake CSE14HRA1L410A-0 10T
[extruder]
heater_power: 40  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 
nozzle_diameter: 0.400
rotation_distance: 22.35796483536  
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
step_pin: toolhead:PB14
dir_pin: !toolhead:PA8
enable_pin: !toolhead:PB6
heater_pin: toolhead:PB4
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: toolhead:PA3
pullup_resistor: 2200
min_temp: -10
max_temp: 300
min_extrude_temp: 170
max_extrude_only_distance: 200
max_extrude_cross_section: 50
#pressure_advance: 0.015           ; PA for 0.8mm nozzle
pressure_advance: 0.03            ; PA for 0.4mm nozzle
pressure_advance_smooth_time: 0.04
#pressure_advance_model: linear

[tmc2209 extruder]
uart_pin: toolhead:PB3
diag_pin: ^toolhead:PD1
interpolate: false
stealthchop_threshold: 0
sense_resistor: 0.110
run_current: 0.5
