
##LDO 36mm Pancake ldo-36sth17-0354ahg
[extruder]
heater_power: 40  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 
nozzle_diameter: 0.400
rotation_distance: 27.308308896 
gear_ratio: 8:1
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
step_pin: shitty:PB4
dir_pin: !shitty:PB3
enable_pin: !shitty:PA15
heater_pin: shitty:PA8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: shitty:PA3
pullup_resistor: 4700
min_temp: -10
max_temp: 300
min_extrude_temp: 170
max_extrude_only_distance: 200
max_extrude_cross_section: 50
#pressure_advance: 0.015           ; PA for 0.8mm nozzle
pressure_advance: 0.03            ; PA for 0.4mm nozzle
pressure_advance_smooth_time: 0.04
#pressure_advance_model: linear

[tmc2209 extruder]
uart_pin: shitty:PB5
diag_pin: shitty:PB6
interpolate: false
stealthchop_threshold: 0
sense_resistor: 0.110
run_current: 0.35
