#####################################################################
# 	Z Homing, QGL and Bed Mesh Settings
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_B039CAA54E5737374D202020FF0A092A-if00  
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 22 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 1

accel_axes_map: -x, -y, z
home_xy_position: 150, 150
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never
contact_max_hotend_temperature: 300
lift_speed: 50
z_settling_time: 200


[quad_gantry_level]
##  Gantry Corners for 300mm Build
##  Uncomment for 300mm build

gantry_corners:
   -60,-10
   360,370

##  Probe points
points:
   30,10
   30,230
   270,230
   270,10
   
speed: 300
horizontal_move_z: 5
retries: 8
retry_tolerance: 0.0075
max_adjust: 10


[bed_mesh]
speed: 300
zero_reference_position: 150, 150
horizontal_move_z: 2
mesh_min: 60,60
mesh_max: 260,260
probe_count: 29,29
algorithm: bicubic
split_delta_z: 0.0125
move_check_distance: 3
fade_start: 0.5
fade_end: 10
mesh_pps: 0, 0
adaptive_margin: 10