[lis2dw]
cs_pin: toolhead:PB1
spi_software_sclk_pin: toolhead:PB10
spi_software_mosi_pin: toolhead:PB11
spi_software_miso_pin: toolhead:PB2
#axes_map: x, z, -y

[resonance_tester]
accel_chip: beacon
probe_points:
   150,150,20

accel_per_hz: 100
max_freq: 200

sweeping_accel: 400
sweeping_period: 0

[input_shaper]
shaper_freq_x: 59.4
shaper_freq_y: 44.2
shaper_type: mzv
damping_ratio_x: 0.051
damping_ratio_y: 0.047