[adxl345]
cs_pin: shitty:PA9
spi_bus: spi2
#axes_map: -z,x,-y

[resonance_tester]
accel_chip: adxl345
probe_points:
   150,150,30

accel_per_hz: 100
max_freq: 200

[input_shaper]
shaper_freq_x: 47.8
shaper_freq_y: 41
shaper_type: mzv
damping_ratio_x: 0.045
damping_ratio_y: 0.073