[filament_switch_sensor blobifier]
pause_on_runout: false
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
#debounce_delay:
#   A period of time in seconds to debounce events prior to running the
#   switch gcode. The switch must he held in a single state for at least
#   this long to activate. If the switch is toggled on/off during this delay,
#   the event is ignored. Default is 0.
switch_pin: PB15
#   The pin on which the switch is connected. This parameter must be
#   provided.

[filament_switch_sensor stepper]
pause_on_runout: false
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
#debounce_delay:
#   A period of time in seconds to debounce events prior to running the
#   switch gcode. The switch must he held in a single state for at least
#   this long to activate. If the switch is toggled on/off during this delay,
#   the event is ignored. Default is 0.
switch_pin: !PB14
#   The pin on which the switch is connected. This parameter must be
#   provided.


[constants]
run_current_xy: 0.990
home_current_xy: 0.5
stealthchop_xy: 0
interpolate_xy: true 
homing_speed_xy: 70
driver_tbl_xy: 1
driver_toff_xy: 3
driver_hsrt_xy: 7
driver_hend_xy: 6
driver_sgthrs_x: 80
driver_sgthrs_y: 110

run_current_z:  0.8
interpolate_z: false
stealthchop_z: 0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR1
[stepper_x]
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 305
position_max: 305
homing_speed: ${constants.homing_speed_xy}
homing_retract_dist: 20
min_home_dist: 40
use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PG14
diag_pin: ^PF0
sense_resistor: 0.110
current_change_dwell_time: 0.2
stealthchop_threshold: ${constants.stealthchop_xy}
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
home_current: ${constants.home_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGTHRS: ${constants.driver_sgthrs_x}

##  A Stepper - Right
##  Connected to MOTOR2
[stepper_y]
step_pin: PE4
dir_pin: !PE5
enable_pin: !PE3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 310
position_max: 310
homing_positive_dir: true
homing_speed: ${constants.homing_speed_xy}
homing_retract_dist: 20
min_home_dist: 40
use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PG13
diag_pin: ^PF2
sense_resistor: 0.110
current_change_dwell_time: 0.2
stealthchop_threshold: ${constants.stealthchop_xy}
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
home_current: ${constants.home_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGTHRS: ${constants.driver_sgthrs_y}


#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to 4
##  Endstop connected to probe:z_virtual_endstop
[stepper_z]
step_pin: PB8
dir_pin: !PB9
enable_pin: !PB7
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 225
position_min: -5
homing_retract_dist: 0
homing_speed: 25

[tmc2209 stepper_z]
uart_pin: PG11
sense_resistor: 0.110
stealthchop_threshold: ${constants.stealthchop_z}
interpolate: ${constants.interpolate_z}
run_current: ${constants.run_current_z}

##  Z1 Stepper - Rear Left
##  Connected to MOTOR5
[stepper_z1]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PG10
sense_resistor: 0.110
stealthchop_threshold: ${constants.stealthchop_z}
interpolate: ${constants.interpolate_z}
run_current: ${constants.run_current_z}

## Z2 Stepper - Rear Right
##  Connected to MOTOR6
[stepper_z2]
step_pin: PG15
dir_pin: !PB3
enable_pin: !PD5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG9
sense_resistor: 0.110
stealthchop_threshold: ${constants.stealthchop_z}
interpolate: ${constants.interpolate_z}
run_current: ${constants.run_current_z}

##  Z3 Stepper - Front Right
##  Connected to MOTOR7
[stepper_z3]
step_pin: PD3
dir_pin: PD2
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PD7
sense_resistor: 0.110
stealthchop_threshold: ${constants.stealthchop_z}
interpolate: ${constants.interpolate_z}
run_current: ${constants.run_current_z}