##  B Stepper - Left
##  Connected to MOTOR1
[stepper_x]
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 305
position_max: 305
homing_speed: 80
homing_retract_dist: 20
min_home_dist: 40
use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PG14
diag_pin: ^PF0
sense_resistor: 0.110
current_change_dwell_time: 0.2
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
home_current: ${constants.home_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGTHRS: ${constants.driver_sgthrs_x}

##  A Stepper - Right
##  Connected to MOTOR2
[stepper_y]
step_pin: PE4
dir_pin: !PE5
enable_pin: !PE3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 310
position_max: 310
homing_positive_dir: true
homing_speed: 80
homing_retract_dist: 20
min_home_dist: 40
use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PG13
diag_pin: ^PF2
sense_resistor: 0.110
current_change_dwell_time: 0.2
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
home_current: ${constants.home_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGTHRS: ${constants.driver_sgthrs_y}