#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor buildplate]
sensor_type: Generic 3950
sensor_pin: PF4
#min_temp: -40
#max_temp: 120
gcode_id: build_th

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF7
#min_temp: -40
#max_temp: 100
gcode_id: chamber_th

[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: -40
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: -40
max_temp: 110

[temperature_sensor CanCanCan]
sensor_type: temperature_mcu
sensor_mcu: shitty

[adxl345]
cs_pin: shitty:PA4
spi_bus: spi1