# DON'T JUST COPY PASTE THIS INTO THE PRINTER'S KLIPPER CONFIGURATION.
# 1) Read the setup guide.
# 2) *Don't uncomment default values unless you explicitly wish to change them.*
#    Doing so will prevent you from getting new defaults from future updates.

# If name is omitted, will default to just `nevermore`.
# You may specify multiple `[nevermore ...]` sections to define multiple filters.
[nevermore]

# Use a serial connection instead of BLE.
# Mutually exclusive w/ `bt_address`.
# WARNING:  Make sure you're using the 2nd interface (path ends with '-if02'),
#           *not* one which ends w/ `-if00`.
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E663AC91D3669731-if02

# Vent Servo
# NOTE: To reverse direction set `vent_servo_pulse_width_max` < `vent_servo_pulse_width_min`

# seconds \in (0, 0.02), duration of pulse when requested 0%
vent_servo_pulse_width_min: 0.00131
# seconds \in (0, 0.02), duration of pulse when requesting 100%
vent_servo_pulse_width_max: 0.00145


led_colour_order: GBR
led_chain_count: 7

# Fan Options
# Various settings for the fan.

# float \in [0, 1] - Fan power used when the automatic policy nor overridden
#fan_power_passive: 0

# float \in [0, 1] - Fan power used when the automatic fan policy is active.
# Useful if you'd prefer slower but quieter background/automatic filtering.
# NOTE: Automatic fan power is scaled based on several factors. See Fan Control.
#fan_power_automatic: 1

# float \in [0, 1] - Coefficient applied to the fan power.
# i.e. Limits the maximum speed of the fan. Useful for managing noise.
# e.g. At 0.75, requesting 100% power will run the fan at 75% power.
fan_power_coefficient: 0.6


# float \in [0, 1] - Absolute minimum power required to keep the fan spinning once kick-started.
# This will vary by fan model, and possibly by fan instance.
# This is an absolute power value; it is not scaled by any factor. (e.g. thermal limit, coefficient, etc)
# Values for commonly used fan models:
# |===
# | Fan Model         | Suggested Value |
# | DELTA BFB0712HF   |           0.175 |
# |===
#fan_power_minimum: 0.175

# float \in [0, 1] - Absolute minimum power required to kick-start the fan.
# This will vary by fan model, and possibly by fan instance.
# This is an absolute power value; it is not scaled by any factor. (e.g. thermal limit, coefficient, etc)
# Values for commonly used fan models:
# |===
# | Fan Model         | Suggested Value |
# | DELTA BFB0712HF   |            0.18 |
# |===
#fan_power_kick_start_minimum: 0.18

# float \in [0, 1], seconds - How long to kick-start the fan at 100%
# Fan control currently updates at 10 Hz. Consequently, values have an effective
# granularity of 0.1s. This may change in the future.
# In practice, simply set it to the desired delay; it'll be round up in the worst case.
#fan_kick_start_time: 0.5


# Fan Policy
# Controls how/when the fan turns on automatically.

# seconds, how long to keep filtering after the policy would otherwise stop
#fan_policy_cooldown: 900
# voc index, 0 to disable, filter if any sensor meets this threshold
# NB: if <= 200 then fan will engage when in the 'nominal' region (see VOC guide)
#fan_policy_voc_passive_max: 250
# voc index, 0 to disable, filter if the intake exceeds exhaust by at least this much
# Not recommended; `voc_passive_max` is generally more reliable and useful.
#fan_policy_voc_improve_min: 0

# Fan Policy - Thermal Limit
# Controls how/when the fan power is throttled down if the temperature is too high.
# See Fan Control section for details.

# float, Celsius, temperature at which point thermal limiting starts being applied
#fan_thermal_limit_temperature_min: 50
# float, Celsius, temperature at which point thermal limiting is fully applied
#fan_thermal_limit_temperature_max: 60
# float \in [0, 1], 1 to disable the thermal limiter
# 0 to disable the fan at max temp
# 0.5 to half the fan speed at max temp
# 1 to effectively disable the thermal limiter (no scaling at max temp)
#fan_thermal_limit_coefficient: 0


# Print-Mode Policy

# float, Celsius, minimum target bed temperature for print-mode to engage
# Useful if you sometimes use PLA w/ the enclosure open and you don't want it
# turning on print mode.
# (Or avoiding the fan turning on when doing nozzle changes.)
# print_mode_min_bed_target:


# Sensor Settings

# voc index \in [175, 500], threshold where the system stops adjusting the
# calibration because the air is "unusually dirty". (AKA 'gating')
# VOC emissions can significantly vary between different filament materials and
# brands.
# Set this threshold to the 'typical' VOC index observed mid print.
# Setting this *too* low will prevent the system from adjusting to normal
# air quality variations. Advised not to set < 225.
# If you print with multiple materials/brands, see the G-Code command
# `NEVERMORE_VOC_GATING_THRESHOLD_OVERRIDE`.
#voc_gating_threshold: 250


# Display Options

# float \in [0, 1] - display backlight PWM %
#display_brightness: 1

# enum - display UI
# Valid enums:
#   GC9A01_CLASSIC      - full sized VOC plot
#   GC9A01_SMALL_PLOT   - smaller plot w/ explicit labels
#   GC9A01_NO_PLOT      - no plot, largest text size
#
# NB: Changing will take effect when the controller reboots.
#     You can reboot the controller using `NEVERMORE_REBOOT`. See G-Code Commands section.
#display_ui: GC9A01_CLASSIC


[led_effect left_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (5,6)
layers:
        gradient  2 1 top (0.0, 1.0, 0.0), (0.0, 0.2, 0.0)  # Green to Green
[led_effect center_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (1,4,7)
layers:
        gradient  2 1 top (0.0, 0.0, 1.0), (0.0, 0.0, 0.2)  # Red to Red
[led_effect right_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (2,3)
layers:
        gradient  2 1 top (1.0, 0.0, 0.0), (0.2, 0.0, 0.0)  # Blue to Blue 