# DON'T JUST COPY PASTE THIS INTO THE PRINTER'S KLIPPER CONFIGURATION.
# 1) Read the setup guide.
# 2) *Don't uncomment default values unless you explicitly wish to change them.*
#    Doing so will prevent you from getting new defaults from future updates.

# If name is omitted, will default to just `nevermore`.
# You may specify multiple `[nevermore ...]` sections to define multiple filters.
[nevermore]

# Use a serial connection instead of BLE.
# Mutually exclusive w/ `bt_address`.
# WARNING:  Make sure you're using the 2nd interface (path ends with '-if02'),
#           *not* one which ends w/ `-if00`.
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E663AC91D3669731-if02

# Vent Servo
# NOTE: To reverse direction set `vent_servo_pulse_width_max` < `vent_servo_pulse_width_min`

# seconds \in (0, 0.02), duration of pulse when requested 0%
vent_servo_pulse_width_min: 0.00131
# seconds \in (0, 0.02), duration of pulse when requesting 100%
vent_servo_pulse_width_max: 0.00145

# LED
# For the optional LED feature.
# Members generally behaves like the WS2812 Klipper module.
# (e.g. supports heterogenous pixel chains)
#
# Values for commonly used LED strips (may be incorrect):
# |===
# | Device                  | led_chain_count | led_colour_order
# | Max BOM ring            |              16 | GBR
# | StealthMax v2 latch     |               7 | GBR
# |===
#
# If the colours seem wrong, fiddle with `led_colour_order`.
# Bear in mind that the device might also be a 4 component RGBW.
led_colour_order: GBR
led_chain_count: 7

[led_effect left_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (5,6)
layers:
        gradient  2 1 top (0.0, 1.0, 0.0), (0.0, 0.2, 0.0)  # Green to Green
[led_effect center_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (1,4,7)
layers:
        gradient  2 1 top (0.0, 0.0, 1.0), (0.0, 0.0, 0.2)  # Red to Red
[led_effect right_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (2,3)
layers:
        gradient  2 1 top (1.0, 0.0, 0.0), (0.2, 0.0, 0.0)  # Blue to Blue 

# Fan Options
# Various settings for the fan.

# float \in [0, 1] - Fan power used when the automatic policy nor overridden
#fan_power_passive: 0

# float \in [0, 1] - Fan power used when the automatic fan policy is active.
# Useful if you'd prefer slower but quieter background/automatic filtering.
# NOTE: Automatic fan power is scaled based on several factors. See Fan Control.
#fan_power_automatic: 1

# float \in [0, 1] - Coefficient applied to the fan power.
# i.e. Limits the maximum speed of the fan. Useful for managing noise.
# e.g. At 0.75, requesting 100% power will run the fan at 75% power.
#fan_power_coefficient: 1

# float \in [0, 1] - Absolute minimum power required to keep the fan spinning once kick-started.
# This will vary by fan model, and possibly by fan instance.
# This is an absolute power value; it is not scaled by any factor. (e.g. thermal limit, coefficient, etc)
# Values for commonly used fan models:
# |===
# | Fan Model         | Suggested Value |
# | DELTA BFB0712HF   |           0.175 |
# |===
#fan_power_minimum: 0.175

# float \in [0, 1] - Absolute minimum power required to kick-start the fan.
# This will vary by fan model, and possibly by fan instance.
# This is an absolute power value; it is not scaled by any factor. (e.g. thermal limit, coefficient, etc)
# Values for commonly used fan models:
# |===
# | Fan Model         | Suggested Value |
# | DELTA BFB0712HF   |            0.18 |
# |===
#fan_power_kick_start_minimum: 0.18

# float \in [0, 1], seconds - How long to kick-start the fan at 100%
# Fan control currently updates at 10 Hz. Consequently, values have an effective
# granularity of 0.1s. This may change in the future.
# In practice, simply set it to the desired delay; it'll be round up in the worst case.
#fan_kick_start_time: 0.5


# Fan Policy
# Controls how/when the fan turns on automatically.

# seconds, how long to keep filtering after the policy would otherwise stop
#fan_policy_cooldown: 900
# voc index, 0 to disable, filter if any sensor meets this threshold
# NB: if <= 200 then fan will engage when in the 'nominal' region (see VOC guide)
#fan_policy_voc_passive_max: 250
# voc index, 0 to disable, filter if the intake exceeds exhaust by at least this much
# Not recommended; `voc_passive_max` is generally more reliable and useful.
#fan_policy_voc_improve_min: 0

# Fan Policy - Thermal Limit
# Controls how/when the fan power is throttled down if the temperature is too high.
# See Fan Control section for details.

# float, Celsius, temperature at which point thermal limiting starts being applied
#fan_thermal_limit_temperature_min: 50
# float, Celsius, temperature at which point thermal limiting is fully applied
#fan_thermal_limit_temperature_max: 60
# float \in [0, 1], 1 to disable the thermal limiter
# 0 to disable the fan at max temp
# 0.5 to half the fan speed at max temp
# 1 to effectively disable the thermal limiter (no scaling at max temp)
#fan_thermal_limit_coefficient: 0


# Print-Mode Policy

# float, Celsius, minimum target bed temperature for print-mode to engage
# Useful if you sometimes use PLA w/ the enclosure open and you don't want it
# turning on print mode.
# (Or avoiding the fan turning on when doing nozzle changes.)
# print_mode_min_bed_target:


# Sensor Settings

# voc index \in [175, 500], threshold where the system stops adjusting the
# calibration because the air is "unusually dirty". (AKA 'gating')
# VOC emissions can significantly vary between different filament materials and
# brands.
# Set this threshold to the 'typical' VOC index observed mid print.
# Setting this *too* low will prevent the system from adjusting to normal
# air quality variations. Advised not to set < 225.
# If you print with multiple materials/brands, see the G-Code command
# `NEVERMORE_VOC_GATING_THRESHOLD_OVERRIDE`.
#voc_gating_threshold: 250


# Display Options

# float \in [0, 1] - display backlight PWM %
#display_brightness: 1

# enum - display UI
# Valid enums:
#   GC9A01_CLASSIC      - full sized VOC plot
#   GC9A01_SMALL_PLOT   - smaller plot w/ explicit labels
#   GC9A01_NO_PLOT      - no plot, largest text size
#
# NB: Changing will take effect when the controller reboots.
#     You can reboot the controller using `NEVERMORE_REBOOT`. See G-Code Commands section.
#display_ui: GC9A01_CLASSIC


# Misc. Sensor Options

# If temperature, humidity, etc, is unavailable on one side of the filter then
# report the value from the other side (if available).
# Useful for builds where you only have one temperature or humidity sensor,
# and you want to use it for both intake/exhaust.
#sensors_fallback: false

# Use the MCU's temperature as an exhaust temperature fallback.
# Only useful for filters which have the MCU in the exhaust airflow
# and don't have any dedicated temperature sensors.
# e.g. original StealthMax, pre-electronics bay
#sensors_fallback_exhaust_mcu: false

# Use independent expected variance estimations for VOC sensors.
# Enable this option if the build's VOC sensors have different expected variances
# when exposed to the same environment.
#   e.g. build uses different VOC sensor types for intake and exhaust.
#
# This option is disabled by default, causing the system to use the max of
# intake's/exhaust's expected variance as the effective expected variance for both.
# Having a shared variance bound is desirable useful for builds where the
# intake/exhaust VOC sensors have very similar expected variances when exposed
# to the same environment.
# Why? Two reasons:
# 1.  Different expected variances map the same change in raw response to
#     different index scales. Recall that linear component of the VOC index is:
#       `VOC_index_linear = (raw - expected_mean) / expected_variance`
#     (A non-linear mapping is then used to remap `[-inf, inf]` to `[0, 500]`)
#
#     A shared expected variance means that the scale of the VOC indices are now
#     equivalent between intake/exhaust.
#     This still doesn't make them directly comparable, see `doc/voc.adoc`, but
#     will make it behave *more* intuitively.
#
# 2.  Intake/exhaust likely have different ambient airflows when the filter is
#     idle due to their positioning within the filter.
#       e.g. StealthMax's exhaust filter is inside the central hub.
#     Restricted airflow means that VOCs diffuse their way to the affected sensor,
#     baffling fluctuations and reducing the variation the sensor experiences.
#
#     tl;dr:  The intake and exhuast sensor might have the same raw response to
#             identical environments, but they don't inhabit the same environment.
#
# One might ask: "Why not do the same for the expected mean?"
# In practice, Sanaa observed notable device-to-device variation in the
# expected mean, but not the expected variance.
#sensors_voc_expected_variance_independent: false


# MOSTLY OBSOLETE.
# Mainsail 2.7.1+ and Fluidd 1.31.0+ both have dedicated support for Nevermores.
# Simply having `[nevermore ...]` is sufficient to display sensor values in the
# 'Temperatures' panel.
#
# Only remaining useful behaviour for `temperature_sensors` is the `plot_voc` option
# which allows drawing the VOC index values for intake/exhaust in the temperature plot.
#[temperature_sensor <name>]
#sensor_type: NevermoreSensor # fixed, must be `NevermoreSensor`

# valid values: `intake`, `exhaust`
#sensor_kind: <required, no defaults>

# full Klipper object name of the Nevermore instance to use as a source
#nevermore: <omitted, e.g. `nevermore custom_names_allowed`>

# Mainsail 2.7.1 doesn't recognise `NevermoreSensor` as sensor it should plot.
# This hacky option allows overriding the class name with one it does recognise
# as something that should be plotted.
# Using `bme280` is strongly suggested.
#class_name_override: <optional, not set by default>

# Pretends the VOC index is a temperature, allowing it to be plotted in Mainsail/Fluidd.
# Setting this to `true` will suppress the all other readings for this sensor object.
# (e.g. temperature, pressure, etc)
#plot_voc: false