######################### Nozzle Cleaning #########################
[gcode_macro CLEAN_NOZZLE]
gcode:
   PARK
   G90

   G1 X50 F18000
   G1 X105 F18000
   G1 X50 F18000
   G1 X105 F18000
   G1 X50 F18000
   G1 X105 Y307 F18000
   G1 X50 F18000
   G1 X105 F18000
   G1 X50 F18000
   G1 X105 F18000
   G1 X50 F18000
   G1 X105 F18000

   # Move away from brush
   G1 Y260 F18000

######################### PARKING #########################

[gcode_macro PARK]
gcode:
  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("150")|float %}
  {% set y = params.Y|default("150")|float %}
  {% set f = params.F|default("27000")|int %} 
  
  {% if restore == 1 %}
    # Move to coordinates given by HH as we are restoring position
    G1 X{x} Y{y} F{f}
  
  {% elif ((printer.gcode_move.gcode_position.x - 35)|abs > 0.05)
        or ((printer.gcode_move.gcode_position.y - 308)|abs > 0.05) %}
    # Perform custom park move to the nozzle stop
    SAVE_GCODE_STATE NAME=SET_PARK_STATE
    
    {% if (printer.gcode_move.gcode_position.y > 250 ) and (printer.gcode_move.gcode_position.x > 10) %}
      G1 Y250 F{f} #Move infront of the end of the nozzle wiper
    {% endif %}

    G1 X30 F{f}   #Move to the start of the nozzle wiper       
    G1 X30 Y308 F{f}   #Move to the right Y position aligning with the nozzle wiper
    G1 X50 Y308 F{f}   #Move on the nozzle stop
    RESTORE_GCODE_STATE NAME=SET_PARK_STATE
  {% endif %}


[gcode_macro UNPARK]
gcode:
  {% set f = params.F|default("27000")|int %} #
  # Unpark if on the park location
    SAVE_GCODE_STATE NAME=SET_UNPARK_STATE
    G1 X10 F{f}   #Move to the start of the nozzle wiper       
    RESTORE_GCODE_STATE NAME=SET_UNPARK_STATE


######################### MISC #########################

[gcode_macro REFRESH_SPOOLMAN]
description: Refresh tool mapping from spoolman
gcode:
    MMU_SPOOLMAN REFRESH=1 SYNC=1

[gcode_macro MMU_LED_OFF]
description: Turn off MMU LEDs
gcode:
    mmu_led enable=0

[gcode_macro MMU_LED_ON]
description: Turn on MMU LEDs
gcode:
    mmu_led enable=1