#####################################################################
#   Macros
#####################################################################

   
######################### PRINT START / END #########################

[gcode_macro PRINT_START]
gcode:      
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.HOTEND|int %}
    {% set target_chamber = params.CHAMBER|default(0)|int %}
    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL} 
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=0                   ; cancel off timer (if there is one)

    _RESETSPEEDS                                                     ; reset speed, accel etc to configured values    
    LEDS_PRINTING
    RESPOND MSG="File received"
    BED_MESH_CLEAR
  
    STATUS_HOMING
    SET_GCODE_OFFSET Z=0
    G28 METHOD=PROXIMITY                        ; Home using proximity to get close to avoid the slow creep down when z is high
    G28 Z METHOD=CONTACT CALIBRATE=0               ;Contact for true z
    G90
    G0 Z2                                                                        ; position beacon at 2mm for heat soak   
 
    RESPOND MSG="Heating up"
    M140 S{target_bed}                                                           ; start bed heater
    M109 S150                                                                    ; preheat nozzle to probing temp
    M190 S{target_bed}                                                           ; wait on bed temperature  
    {% if printer['temperature_sensor chamber'].temperature < target_chamber or printer.heater_bed.temperature < (target_bed-2)  %}          ; - if chamber is not at temp yet:
         RESPOND MSG="Waiting for chamber to reach: {target_chamber}c"
         HEATSOAK T={target_bed} C={target_chamber} MOVE=1 WAIT=1                ;   heatsoak macro + park in center
    {% else %}
        RESPOND MSG="Chamber already above {target_chamber}c"                    ; - if chamber is already at temp:
        HEATSOAK T={target_bed} C={target_chamber} MOVE=0 WAIT=1                 ;  "heatsoak" without parking (only still calling this because it does some other things like turn off exahaust fan)
    {% endif %} 

    RESPOND MSG="Cleaning nozzle"
    STATUS_CLEANING
    _CLEAN_NOZZLE_GANTRY
    
    RESPOND MSG="Sorting the tilt"
    STATUS_LEVELING
    G28 Z METHOD=CONTACT CALIBRATE=1                 ; calibrate z offset and beacon model
    QUAD_GANTRY_SCAN                                 ; quad gantry level
    
    STATUS_MESHING
    RESPOND MSG="Creating Mesh"
    BED_MESH_CALIBRATE RUNS=2 ADAPTIVE=1                  ; bed mesh in scan mode                                                       
    
    RESPOND MSG="Doing bed mesh check..."
    BED_MESH_CHECK MAX_DEVIATION=0.2
    
    STATUS_HOMING
    RESPOND MSG="Hotend target: {target_extruder}c" 
    G90
    G1 X50 F18000
    G1 Y308 F18000
    M104 S{target_extruder}       ; set extruder to print temp
    M109 S{target_extruder}       ; wait for extruder temp
    G4 P20000                     ; give the hot block 20s to stabilize
    RESPOND MSG="Cleaning nozzle again"
    STATUS_CLEANING
    _CLEAN_NOZZLE_GANTRY
    
    RESPOND MSG="Calibrating Z at printing temp"             
    G28 Z METHOD=CONTACT CALIBRATE=0 
    SET_GCODE_OFFSET Z=0.02    ; add a little offset for hotend thermal expansion 

    RESPOND MSG="Printer goes brr"          ; Displays info
    STATUS_PRINTING
    G90
    G92 E0                                   ; reset Extruder                                              

[gcode_macro PRINT_END]
gcode:                                                                                                   
    M400                                                                                                ; wait for buffer to clear
    G91                                                                                                 ; relative positioning
    G1 Z5 F3000                                                                                         ; Move nozzle up
    G0 Y10 F20000                                                                                       ; move nozzle to remove stringing
    G90                                                                                                 ; absolute positioning
    G1 X150 Y290 F19500.0                                                                               ; park nozzle at rear
    BED_MESH_CLEAR                                                                                      ; clear bed mesh    
    status_ready
    RESPOND MSG="Finished"
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=600                                                    ; turn everything off in 10 min
    _RESETSPEEDS

[gcode_macro _SWIPENOZZLE]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=SWIPENOZZLE
    G90                                                             ; absolute positioning
    G0 X100 Z10 Y300 F19500                                         ; move to right of nozzle brush
    G0 Z4   F19500                                                  ; lower
    G0 X50 F2400                                                    ; wipe back
    G0 Z10  F19500                                                  ; raise
    RESTORE_GCODE_STATE NAME=SWIPENOZZLE

######################## PAUSE/RESUME/CANCEL #########################


[delayed_gcode DELAYED_OFF]
gcode:
    OFF                                                             ; call "OFF" macro, to turn off everything (heaters, motors, lights, fans)
    leds_idle
    STATUS_OFF

######################### MISC #########################
[gcode_macro close_vent]
gcode: 
    NEVERMORE_VENT_SERVO_SET PERCENT=1 HOLD_FOR=0.25

[gcode_macro open_vent]
gcode:
    NEVERMORE_VENT_SERVO_SET PERCENT=0 HOLD_FOR=0.25  
    
[gcode_macro purge_line]
gcode:
  G90
  G0 X3 Y4 F10000                                  # Moves to starting point
  G0 Z0.2                                          # Raises Z to 0.4
  G91                                              # Incremental positioning 
  G1 X200 E20 F1000                                # Purge line
  G90                                              # Absolute position

[gcode_macro QUAD_GANTRY_SCAN]
gcode:
    QUAD_GANTRY_LEVEL horizontal_move_z=10 retry_tolerance=1.000
    QUAD_GANTRY_LEVEL horizontal_move_z=2

[gcode_macro COLD_PULL]
gcode:
    {% set EXTRUDER = params.EXTRUDER|default(235) %}
    {% set PULLTEMP = params.PULLTEMP|default(80) %}
    G90
    M83
    G92 E0
    M109 S{EXTRUDER} 
    M104 S{PULLTEMP}
    M106 S120   #fan on
    G1 E5 F5
    M109 S{PULLTEMP}
    G1 E-15 F45
    G1 E-100 F300
    G92 E0
    M106 S0
    M104 S0
    M84

[gcode_macro _LOW_TEMP_CHECK]
description: Check the nozzle is at temperature and heat it if needed
gcode: 
    {% set T = params.T|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}

    {% if printer.extruder.target != 0 %}
        {% if printer.extruder.temperature < printer.extruder.target %}
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %}
        {% if printer.extruder.target < T %}
            M109 S{T}
        {% endif %}
    {% endif %}

# Replace M109 (Wait for Hotend Temperature) with TEMPERATURE_WAIT so we don't have to wait for PID to level off.
[gcode_macro M109] # Wait Hotend Temp
rename_existing: M109.1
gcode:
    #Parameters
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+5}   # Wait for hotend temp (within n degrees)
    {% endif %}


[gcode_macro _RESETSPEEDS]
gcode:
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}  
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity} 

[gcode_macro G32]
gcode:
    G28
    #BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    G28 Z

[gcode_macro HEATSOAK]
gcode:
    # Parameters
    {% set t = params.T|default(110)|int %}
    {% set c = params.C|default(75)|int %}
    {% set move = params.MOVE|default(1)|int %}
    {% set wait = params.WAIT|default(0)|int %}

    SAVE_GCODE_STATE NAME=HEATSOAK
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=0    ; cancel off timer (if there is one)
    M140 S{t}                                         ; heat bed
    {% if move == 1 %}
        G90
        G0 Z{printer.toolhead.axis_maximum.z/2} F19500    
        G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F10000    
    {% endif %}
    {% if c > 30 and wait == 1 %}
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={c} ; wait for chamber temp
    {% endif %}
    RESTORE_GCODE_STATE NAME=HEATSOAK


######################### FILAMENT #########################



[gcode_macro UNLOAD_FILAMENT]
description: Basic unload of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}
	SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
	_LOW_TEMP_CHECK T={TEMP}
    _TIP_SHAPING
    M83
    G1 E-20 F3600
    G4 P3000
    G1 E{DISTANCE|float * -1} F3000
	RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state


[gcode_macro LOAD_FILAMENT]
description: Basic load of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}
	SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
	_LOW_TEMP_CHECK T={TEMP}
    M83
	G92 E0
    G1 E{DISTANCE|float} F200
    G1 E50 F150
    
	G92 E0
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state


######################### CONDITIONAL HOMING #########################

# Conditional G28 (home if not already homed)
[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro _CQGL]
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        ; _CG28
        QUAD_GANTRY_LEVEL
        G28 Z
    {% endif %}
    
######################### PARKING #########################
####UPDATE ME!!!! 

[gcode_macro PARK]
gcode:
  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("150")|float %}
  {% set y = params.Y|default("150")|float %}
  {% set f = params.F|default("27000")|int %} #2700
  
  {% if restore == 1 %}
    # Move to coordinates given by HH as we are restoring position
    G1 X{x} Y{y} F{f}
  
  {% elif ((printer.gcode_move.gcode_position.x - 35)|abs > 0.05)
        or ((printer.gcode_move.gcode_position.y - 308)|abs > 0.05) %}
    # Perform custom park move to the nozzle stop
    SAVE_GCODE_STATE NAME=SET_PARK_STATE
    
    {% if (printer.gcode_move.gcode_position.y > 250 ) and (printer.gcode_move.gcode_position.x > 10) %}
      G1 Y300 F{f} #Move infront of the end of the nozzle wiper
    {% endif %}

    G1 X10 F{f}   #Move to the start of the nozzle wiper       
    G1 X10 Y357.5 F{f}   #Move to the right Y position aligning with the nozzle wiper
    G1 X35 Y357.5 F{f}   #Move on the nozzle stop
    RESTORE_GCODE_STATE NAME=SET_PARK_STATE
  {% endif %}


[gcode_macro UNPARK]
gcode:
  {% set f = params.F|default("27000")|int %} #
  # Unpark if on the park location
    SAVE_GCODE_STATE NAME=SET_UNPARK_STATE
    G1 X10 F{f}   #Move to the start of the nozzle wiper       
    RESTORE_GCODE_STATE NAME=SET_UNPARK_STATE



    
######################### ALIASES/SHORTCUTS #########################

# Just a shortcut to turn EVERYTHING off with one command (beds, heaters, motors, lights)
[gcode_macro OFF]
gcode:
    M84                                             ; turn steppers off
    TURN_OFF_HEATERS                                ; turn bed / hotend off
    M107                                            ; turn print cooling fan off