#####################################################################
#   Helper macros used in the print process
#   Contains the below macros:
#   M600
#   HEATSOAK
#####################################################################

[gcode_macro M600]
gcode:
    PAUSE


[gcode_macro HEATSOAK]
gcode:
    # Parameters
    {% set t = params.T|default(110)|int %}
    {% set c = params.C|default(75)|int %}
    {% set move = params.MOVE|default(1)|int %}
    {% set wait = params.WAIT|default(0)|int %}

    SAVE_GCODE_STATE NAME=HEATSOAK
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=0    ; cancel off timer (if there is one)
    M140 S{t}                                         ; heat bed
    {% if move == 1 %}
        G90
        G0 Z{printer.toolhead.axis_maximum.z/2} F19500    
        G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F10000    
    {% endif %}
    {% if c > 30 and wait == 1 %}
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={c} ; wait for chamber temp
    {% endif %}
    RESTORE_GCODE_STATE NAME=HEATSOAK
   

[gcode_macro CANCEL_PRINT_CM]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 10, th.axis_maximum.z]|min %}
    {% set bedtemp = printer.heater_bed.target %}
    
    _RESET_PRINTER_TO_KLIPPER_CONFIG

    TURN_OFF_HEATERS
    
    M400                                     ; wait for buffer to clear
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X150 Y280 F7200                       ; park nozzle at the rear for easy cleaning
    G90

    {% if z_safe < 100 %}                    ; check if current Z is below 100mm
      G1 Z100 F900                           ; raise Z up
    {% endif %}

    M400

    SET_LED LED=chamber_leds RED=0.4 GREEN=0.4 BLUE=0.4

    SET_GCODE_OFFSET Z=0
    BED_MESH_CLEAR
    M84                                      ; turn steppers off

    # Turn everything off
    M107                                     ; Part-cooling fan off
    OFF                                      ; Anything else that is on
    M400
    RESPOND MSG="JOB cancelled"              ; Displays info
    status_off
  
    # Reset internal state if needed
    CLEAR_PAUSE
    SDCARD_RESET_FILE


[gcode_macro _RESET_PRINTER_TO_KLIPPER_CONFIG]
gcode:
    M400
    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0
    M220 S100 ; reset speed factor override percentage
    M221 S100 ; reset extrude factor override percentage
    ; reset velocities
    SET_VELOCITY_LIMIT VELOCITY={ printer.configfile.settings['printer'].max_velocity|float } ACCEL={ printer.configfile.settings['printer'].max_accel|float } SQUARE_CORNER_VELOCITY={ printer.configfile.settings['printer'].square_corner_velocity|float }
    ; reset pressure advance
    SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={ printer.configfile.settings['extruder'].pressure_advance|float } SMOOTH_TIME={ printer.configfile.settings['extruder'].pressure_advance_smooth_time|float }


######################### FILAMENT #########################

[gcode_macro _TIP_SHAPING]
description: Filament tip shaping sequence
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}

	SAVE_GCODE_STATE NAME=TIP_SHAPING_state
	_LOW_TEMP_CHECK T={TEMP}
    
    {% set old_pressure_advance = printer.extruder.pressure_advance|default(0) %} # old pressure advance
    # we suppress pressure advance
    SET_PRESSURE_ADVANCE ADVANCE=0

    M82
    G92 E0
    G1 E2 F3600
    G1 E0 F3600
    G1 E3 F3600
    G1 E0 F3600
    G1 E4 F3600
    G1 E0 F3600

    # set last pressure advance
    SET_PRESSURE_ADVANCE ADVANCE={old_pressure_advance}
	RESTORE_GCODE_STATE NAME=TIP_SHAPING_state

[gcode_macro UNLOAD_FILAMENT]
description: Basic unload of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

	SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
	_LOW_TEMP_CHECK T={TEMP}

    _TIP_SHAPING
    M83
    G1 E-20 F3600
    G4 P3000
    G1 E{DISTANCE|float * -1} F3000

	RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state


[gcode_macro LOAD_FILAMENT]
description: Basic load of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

	SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
	_LOW_TEMP_CHECK T={TEMP}
    M83
	G92 E0
    G1 E{DISTANCE|float} F200
    G1 E50 F150
    
	G92 E0
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state



