#####################################################################
#   Custom print start and end macros, together with Fan control gcode
#   Contains the below macros:
#   PRINT_START (invoked before the MMU handover)
#   PRINT_START_CONTINUE (After MMU has loaded filament)
#   PRINT_END 
#####################################################################

[gcode_macro PRINT_START]
gcode:      
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.HOTEND|int %}
    {% set target_chamber = params.CHAMBER|default(15)|int %}
    {% set min_ext = target_extruder-5 %}
    {% set max_ext = target_extruder+5 %}
    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL} 

    # clear paused states, reset printer vars
    RESPOND MSG="File received"
    SET_GCODE_OFFSET Z=0
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=0                   ; cancel off timer (if there is one)
    BED_MESH_CLEAR
    CLEAR_PAUSE

    #reset printer limits
      _RESETSPEEDS   

    #Chamber leds to white
    LEDS_PRINTING

    # Slightly warm the nozzle and start bed heating early
    M104 S70
    M140 S{target_bed}
  
    # Homing sequence
    RESPOND MSG="Homing"
    STATUS_HOMING
    CLOSE_VENT
    G28 METHOD=PROXIMITY                           ; Home using proximity to get close to avoid the slow creep down when z is high
    G28 Z METHOD=CONTACT CALIBRATE=0
    G90
    G0 Z2                                                                        ; position beacon at 2mm for heat soak   

   # Bed heating and possible chamber heatsoak
    RESPOND MSG="Heating up"
    M190 S{target_bed}                                                           ; wait on bed temperature  
    {% if printer['temperature_sensor chamber'].temperature < target_chamber or printer.heater_bed.temperature < (target_bed-2)  %}          ; - if chamber is not at temp yet:
         RESPOND MSG="Waiting for chamber to reach: {target_chamber}c"
         M104 S40      ; Hotend to 40C to avoid cooking material
         HEATSOAK T={target_bed} C={target_chamber} MOVE=1 WAIT=1                ;   heatsoak macro + park in center
    {% else %}
        RESPOND MSG="Chamber already above {target_chamber}c"                    ; - if chamber is already at temp:
        HEATSOAK T={target_bed} C={target_chamber} MOVE=0 WAIT=1                 ;  "heatsoak" without parking (only still calling this because it does some other things like turn off exahaust fan)
    {% endif %} 

    # Heating nozzle to 160 degrees. This helps with getting a correct Z-home
    RESPOND MSG="Hotend: 160c"          
    M106 S77                                        ; Turns on partcooling fan 30pc to avoid filament leakage
    M104 S160                                       ; preheat nozzle to probing temp
    TEMPERATURE_WAIT SENSOR=extruder minimum=158
    M400
    
    # Quad Gantry Level (QGL) and Home Z again
    RESPOND MSG="Sorting the tilt"
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL                                 ; quad gantry level
    M400
    RESPOND MSG="Homing Z"
    G28 Z
    G1 Z30 F1200

    # Clean nozzle
    M400
    RESPOND MSG="Cleaning Nozzle"
    STATUS_CLEANING
    M104 S{target_extruder}                         ; heat up nozzle to print temperature
    PARK                                            ; Park on nozzle stop area
    TEMPERATURE_WAIT SENSOR=extruder minimum={min_ext}
    M104 S150                                       ; Heat up nozzle to probing temperature
    M106 S255                                       ; Turns on partcooling fan 100pc to aid cooldown
    CLEAN_NOZZLE                                    ; Clean nozzle
    PARK                                            ; Park again while nozzle cools down
    TEMPERATURE_WAIT SENSOR=extruder maximum=180 
    CLEAN_NOZZLE                                    ; Clean again after cool down
    M400
    M106 S77                                        ; Reset part cooling fan to 30pc

    # Second QGL + Z Home
    RESPOND MSG="Sorting the tilt again"
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL                                 ; quad gantry level
    M400
    RESPOND MSG="Homing Z"
    G28 Z

    # Bed Mesh
    M400
    RESPOND MSG="Creating Mesh"
    STATUS_MESHING
    BED_MESH_CALIBRATE RUNS=2 ADAPTIVE=1                  ; bed mesh in scan mode                                                       
    G1 Z30 F1200
    RESPOND MSG="Doing bed mesh check..."
    BED_MESH_CHECK MAX_DEVIATION=0.2
    
    # Z offset calibration
    M400
    RESPOND MSG="Z offset calibration"              ; Displays info
    PARK
    TEMPERATURE_WAIT SENSOR=extruder maximum=150    ; Park nozzle & wait for touch temperature
    CLEAN_NOZZLE                                    ; Clean nozzle

    STATUS_HOMING
    G1 X150 Y150 F12000                             ; move to bed centre
    G1 Z5 F1200                                     ; move to Z height to start z offset calibration
    M400
    G28 Z METHOD=CONTACT CALIBRATE=1                ; calibrate z offset and beacon model hot
    G1 Z30 F1200                                    ; Lift Z height before parking on the rear and handing over to the MMU
   
    M400
    RESPOND MSG="Hotend target: {target_extruder}c" 

      # Park nozzle and max out fan to avoid dripping on the bed
     # Set purging temperatures before parking
    {% if target_extruder|int < 255 %} 
        M104 S255                                     ; Purge at 255C
    {% else %}
        M104 S{target_extruder}                       ; Purge at material print temperature
    {% endif %}
    
    PARK
    
    # Wait for purging temperatures to be reached
    {% if target_extruder|int < 255 %} 
       TEMPERATURE_WAIT SENSOR=extruder minimum=245
    {% else %}
       TEMPERATURE_WAIT SENSOR=extruder minimum={target_extruder-5}
    {% endif %}   

    SET_GCODE_OFFSET Z=0.06    ; add a little offset for hotend thermal expansion 

    G90
    G92 E0                                   ; reset Extruder  

    STATUS_BUSY

[gcode_macro PRINT_START_CONTINUE]
gcode:
  {% set target_extruder = params.EXTRUDER|int %}
  {% set min_ext = target_extruder-1 %}
  {% set max_ext = target_extruder+5 %}

  # Heat nozzle to printing temperature
  RESPOND MSG="Heating nozzle to print temperature..."
  M104 S{target_extruder}
  PARK
  TEMPERATURE_WAIT SENSOR=extruder minimum={min_ext} maximum={max_ext}
  M106 S255                                       ; Fan at 100 pc

  M400
  RESPOND MSG="Clean and purge at print temperature..."
  PARK_PURGE_CLEAN_PRINT_START
  M106 S255                                       ; Fan at 100 pc
   
  # Purge line
  RESPOND MSG="Purge line..."
  STATUS_PRINTING
  G90
  G0 X75 Y0.5 Z5 F18000                            ; Moves to starting point
  G0 Z0.4                                         ; Lowers Z to 0.4
  M107                                            ; turn off part cooling fan
  
  G91                                             ; Incremental positioning 
  G92 E0                                          ; Reset extruder
  G1 E2 F2100                                     ; Un retract
  G92 E0                                          ; Reset extruder
  G1 X200 E25 F1000                               ; Purge line
  G90                                             ; Absolute position
   RESPOND MSG="Printing..." 

##------------------------------------------------------------------------------------------##
################################ END PRINT ###################################################
##------------------------------------------------------------------------------------------##

[gcode_macro PRINT_END]
gcode:                                                                                                   
    M400                                                                                                ; wait for buffer to clear
    G91                                                                                                 ; relative positioning
    G1 Z5 F3000                                                                                         ; Move nozzle up
    G0 Y10 F20000                                                                                       ; move nozzle to remove stringing
    G90                                                                                                 ; absolute positioning
    G1 X150 Y290 F19500.0                                                                               ; park nozzle at rear
    BED_MESH_CLEAR                                                                                      ; clear bed mesh    
    status_ready
    RESPOND MSG="Finished"
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=600                                                    ; turn everything off in 10 min
    _RESETSPEEDS